{
    "parser": "@babel/eslint-parser",
    "rules": {
        "no-unused-vars": 1,
        "no-undef": "warn",
        "no-console": "warn"
    },
    "parserOptions": {
        "requireConfigFile": false
    },
    "extends": [
        "airbnb-base"
    ]
}